@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.mynavbar{
    padding-top: 15px;
    padding-bottom: 15px;
}

#navbar-img{
    margin-right: 10px;
    transform: scale(1.4);
}

.navbar-nav a{
    font-family: "Open Sans";
}

.body{
    background-color: #eee;
}

.blog-post-detail{
    margin-top: 100px;
    width: 600px;
}

.blog-post-detail img{
    width: 300px;
    height: 300px;
}

.blog-post-detail p{
    text-align: justify;
}

.blog-post-detail a{
    text-decoration: none;
}

