{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{%  static  'css/styleprofil.css'  %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.0/css/all.css">

    <title>Profil</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top mynavbar">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="{% static "photos/Logo-ristex.jpg" %}" id="navbar-img" alt="" width="40" height="30" class="d-inline-block align-text-top">
                My Blog
            </a>
            <button class="navbar-toggler navbar-toggler-right nav-button" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-primary" href="#">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/blog">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/kalkulatorkesehatan">Kalkulator Kesehatan</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="profile">
        <div class="container">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <center>
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-7">
                                            <img src="{% static "photos/Jason.jpg" %}">
                                        </div>
                                        <div class="col-sm-5 description">
                                            <center><h2>Jason Kanggara</h2></center>
                                            <p>Saya sangat menyukai hal hal yang berbau teknologi. Saat setelah lulus SMA saya mulai tertarik dengan pemrograman. Saya suka mengeksplor dan belajar hal baru. Hobi saya nonton youtube, dengar musik, dan bermain type racer.</p>
                                            <br/>
                                            <span><i class="fas fa-id-card-alt"></i><a>16520214</a></span>
                                            <br/>
                                            <span><i class="fas fa-school"></i>TPB STEI</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </center>
                    </div>
                    <div class="col-sm-12">
                        <center>
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-7">
                                            <img src="{% static "photos/Karina.jpg" %}">
                                        </div>
                                        <div class="col-sm-5 description">
                                            <center><h2>Karina Widya Ramadhani</h2></center>
                                            <p>Saya adalah seseorang yang menyukai alam dan hal-hal yang berbau teknologi. Hobi saya adalah menonton film, jalan-jalan, dan mendengarkan musik.</p>
                                            <br/>
                                            <span><i class="fas fa-id-card-alt"></i><a>16020053</a></span>
                                            <br/>
                                            <span><i class="fas fa-school"></i>TPB FMIPA</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </center>
                    </div>
                    <div class="col-sm-12">
                        <center>
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-7">
                                            <img src="{% static "photos/Prima.jpg" %}">
                                        </div>
                                        <div class="col-sm-5 description">
                                            <center><h2>Primanda Adyatma Hafiz</h2></center>
                                            <p>Saya adalah orang yang sangat tertarik pada bidang sains dan teknologi serta suka belajar hal-hal baru. Hobi saya yaitu menonton pertandingan sepakbola dan melakukan pengamatan dengan teleskop.</p>
                                            <br/>
                                            <span><i class="fas fa-id-card-alt"></i><a>16520194</a></span>
                                            <br/>
                                            <span><i class="fas fa-school"></i>TPB STEI</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </center>
                    </div>
            </div>
        </div>
        </div>
        
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    </body>
</html>